@using System.Web.Optimization.React;
@model turkcell_web_app.ViewModels.Frd

@{ ViewBag.Title = "New FRD";
    ViewBag.New = "Selected-Item";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container-fluid">
    @using (Html.BeginForm("New", "Request", FormMethod.Post))
    {

        <div>
            <p style=" text-align: center; color: blue; font-size: larger; ">@ViewBag.Message</p>
            <a class="btn btn-primary btn-block btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button" href="#collapse-1" style="background-color:#175777;width:100%;">Panel 0: General Information of FRD</a>
            <div class="collapse show" id="collapse-1">
                @Html.Partial("~/Views/PartialViews/Panel0/Info_Input.cshtml")
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" role="button" href="#collapse-2" style="min-width:100%;background-color:#175777;">Panel 1: Request Description</a>
            <div class="colpse collapse" id="collapse-2">
                @Html.Partial("~/Views/PartialViews/Panel1/Add_Items.cshtml")
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-3" role="button" href="#collapse-3" style="width:100%;background-color:#175777;">Panel 2: &nbsp;Target Audience</a>
            <div class="colpse collapse" id="collapse-3" style="background-color:#f9f9f9;">
                @Html.Partial("~/Views/PartialViews/Panel2/Targets_Editable.cshtml")
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" role="button" href="#collapse-4" style="width:100%;background-color:#175777;">Panel 3: Channels Affected by Demand&nbsp;</a>
            <div class="colpse collapse" id="collapse-4" style="background-color:#f9f9f9;">
                @Html.Partial("~/Views/PartialViews/Panel3/Channels_Editable.cshtml")
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-5" role="button" href="#collapse-5" style="width:100%;background-color:#175777;">Panel 4: SMS</a>
            <div class="colpse collapse" id="collapse-5" style="margin-top:15px; max-height:none;">
                @Html.Partial("~/Views/PartialViews/Panel4/Add_SMS.cshtml")
            </div>
            <div>
                <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-6" role="button" href="#collapse-6" style="width:100%;background-color:#175777;">Panel 5: Upload files</a>
                <div class="colpse collapse" id="collapse-6" style="background-color:#f9f9f9; overflow-y:hidden; height: 100%;">
                    @if (Model.Panel5 != null && Model.Panel5.Attatchments != null && Model.Panel5.Attatchments.Count > 0)
                    {
                        @Html.Partial("~/Views/PartialViews/Panel5/Temp_File_List.cshtml")
                    }

                    @Html.Partial("~/Views/PartialViews/Panel5/Upload_Files.cshtml")


                    @*<div class="row no-gutters">
                            <div class="col">
                                <div class="dashed_upload" style="height:250px;">
                                    <div class="wrapper">
                                        <div class="drop">
                                            <div class="cont">
                                                <i class="fa fa-cloud-upload"></i>
                                                <div class="tit">
                                                    Drag & Drop
                                                </div>
                                                <div class="desc">
                                                    or
                                                </div>
                                                <div class="browse">
                                                    click here to browse
                                                </div>
                                            </div>
                                            <output id="list"></output><input id="files" multiple name="uploadfiles" type="file" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div>
                <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-7" role="button" href="#collapse-7" style="width:100%;background-color:#175777;">Panel 6:&nbsp;Prioritization</a>
                <div class="colpse collapse" id="collapse-7" style="margin-bottom:10px;">
                    @Html.Partial("~/Views/PartialViews/Panel6/Add_Discounts.cshtml")
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-8" role="button" href="#collapse-8" style="width:100%;background-color:#175777;">Panel 7: Confirmations</a>
            <div class="colpse collapse" id="collapse-8">
                @Html.Partial("~/Views/PartialViews/Panel7/D_G_Editable.cshtml")
            </div>
        </div>
        <input id="FrdType" type="hidden" name="SubmitType" value="@Model.Type">
        <p class="err" id="er1">Enter at least one description in panel 1</p>
        <p class="err" id="er2">Please select at least one recepient of the FRD</p>
        <p class="err" id="er3">Please check the Request Number entered </p>
        <p class="err" id="er4">Please enter a Request Name</p>


        <div class="container">
            <div class="row justify-content-center" style="margin-top:20px;">
                @Html.AntiForgeryToken()

                @Html.Partial("~/Views/PartialViews/Buttons/Submit.cshtml")
                @Html.Partial("~/Views/PartialViews/Buttons/SaveDraft.cshtml")
                @Html.Partial("~/Views/PartialViews/Buttons/Reset.cshtml")

            </div>
        </div>
    }
</div>

@section styles1{
    <link href="~/assets/css/checkMark.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/js/General Form/Disable Enter.js"></script>
    <script src="~/assets/js/Panel 0/FrdId.js"></script>
    <script src="~/assets/js/Panel 1/Description.js"></script>

    <script src="~/assets/js/Panel 6/Discount.js"></script>
    <script src="~/assets/js/Panel 7/NestedCheckboxes.js"></script>
    <script src="~/assets/js/General Form/Save Button.js"></script>
    @*  <script src="~/assets/js/General Form/Submit Button.js"></script>*@
    <script src="~/assets/js/General Form/Reset Button.js"></script>
    <script src="~/assets/js/General Form/New Submit Button.js"></script>

    <script src="~/assets/js/Vertical-menu.js"></script>
    <script src="~/assets/js/React/dist/bundle.js"></script>
    <script src="~/assets/js/panelsAnimations.js"></script>
    <script src="~/assets/js/dist/dropzone.js"></script>
    <script src="~/assets/js/Panel_5_Upload/MyScript.js"></script>
}

